#buttons {
    text-align: right;
    margin-right: 30px;
    bottom: 5%;
}

#head {
    margin-top: 6px;
    box-shadow: 5px 5px 20px #000000;
}

.td_img {
    margin-left: 10px;
    margin-right: 10px;
    width: 200px;
    box-shadow: 1px 1px 20px #000000;
    margin-bottom: 10px;
    margin-top: 10px;
}

.title {
    text-align: center;
    padding-top: 10px;
}

#last {
    margin-bottom: 60px;
}

.table{
 text-align: center;
}
#number{
    text-align: right;
}